//
// Created by Samuli on 1/21/25.
//

#ifndef ESP8266_TEST_PROJECT_WIFI_CREDENTIALS_H_EXAMPLE_H
#define ESP8266_TEST_PROJECT_WIFI_CREDENTIALS_H_EXAMPLE_H

#define WIFI_SSID "YourSSIDHere"
#define WIFI_PASSWORD "YourPasswordHere"

#endif //ESP8266_TEST_PROJECT_WIFI_CREDENTIALS_H_EXAMPLE_H
